<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website - Home</title>
    <link rel="stylesheet" th:href="@{./css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Our E-commerce Website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="product-detail.html">Products</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="mypage.html">My Page</a></li>
        </ul>
    </nav>
    <div class="container">
        <div th:each="product : ${products}">
        <h5 class="card-title" th:text="${product.name}"></h5>
        <p class="card-text" th:text="${product.description}">상품 설명</p>
        <a href="#" class="btn btn-primary" th:text="${'₩' + product.price}">가격</a>
        <img th:src="${product.imageurl}" alt="상품 이미지" style="width: 100px; height: 100px;">
        <a th:href="@{/product-detail/{id}(id=${product.id})}">상세보기</a>
        </div>
        <p>Main content of the website...</p>
    </div>
    <footer>
        <p>Footer content here...</p>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
