<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <header>
        <h1>My Page</h1>
    </header>
    <div class="container">
        <p>Welcome, [Username]!</p>
        <p>Your order history:</p>
        <!-- List orders here -->
    </div>
    <footer>
        <p>Footer content here...</p>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
