<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <header>
        <h1>Product Detail</h1>
    </header>
    <div class="container">
        <h2>Product Name</h2>
        <p>Description of the product...</p>
        <p>Price: $XX.XX</p>
        <button>Add to Cart</button>
    </div>
    <footer>
        <p>Footer content here...</p>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
