<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <div class="container">
        <form action="#" th:action="@{/signup}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <footer>
        <p>Footer content here...</p>
    </footer>
</body>
</html>
